@import './../../_settings/_variables.css';

.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  border-radius: 1em;
  font-family: 'Calibri', sans-serif;
  background-color: var(--terciary);
}

.period {
  position: absolute;
  margin-right: -15vw;
  margin-bottom: -18vw;
  color: #fefefe;
  font-weight: 800;
  font-size: max(1em, 2vw);
  opacity: 0.7;
}
