@import '../../components/_settings/_variables.css';

body {
  margin: 0;
  overflow: hidden;
}

header {
  position: absolute;
  top: max(1.5em, 1.5vw);
  right: max(1.5em, 1.5vw);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary);
}
