@import '../../components/_settings/_variables.css';

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--secondary);
}

header {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
